<link rel="stylesheet" href="/css/style.css">

<form action="/data" method="GET">
    <% allColumns.forEach(function(col) { %>
        <input type="checkbox" name="columns" value="<%= col %>" 
            <%= selectedColumns.includes(col) ? 'checked' : '' %>>
        <label><%= col %></label>
    <% }); %>
    <select name="limit" onchange="this.form.submit()">
        <option value="10" <%= limit == 10 ? 'selected' : '' %>>10 lines</option>
        <option value="25" <%= limit == 25 ? 'selected' : '' %>>25 lines</option>
        <option value="50" <%= limit == 50 ? 'selected' : '' %>>50 lines</option>
    </select>
    <button type="submit">Update</button>
</form>

<table border="1">
    <tr>
        <% selectedColumns.forEach(function(col) { %>
            <th><%= col %></th>
        <% }); %>
    </tr>
    <% data.forEach(function(item) { %>
    <tr>
        <% selectedColumns.forEach(function(col) { %>
            <td><%= item[col] %></td>
        <% }); %>
    </tr>
    <% }); %>
</table>
